* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

body, html {
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.bg {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 40px grey;
  background-color: white;
  border-radius: 25px;
  width: 90vw;
  max-width: 1000px;
  min-width: 10em;
  height: 60vh;
  min-height: 20em;
  margin: auto;
  margin-top: 15vh;
  z-index: 2;
}

.logo {
  width: 100%;
  height: 40%;
  color: #26453e;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  margin: auto;
  margin-top: 10%;
}

.content-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
}

.content-wrapper h3 {
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

.content-wrapper span {
  color: #26453e;
  font-size: 7vw;
  margin-top: 0.5em;
}

.Blob {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80vw;
  height: 40vh;
  transform: rotate(180deg);
  z-index: -1;
}


.Blob-two {
  right: 0;
  top: 0;
  position: absolute;
  width: 80vw;
  height: 60vh;
  z-index: -1;
}

@media screen and (min-width: 880px) {
  .Blob {
    left: -25vw;
  }

  .Blob-two {
    right: -25vw;
  }

}

@media screen and (min-width: 540px) {

  .card {
    min-height: 30em;
  }

  .content-wrapper {
    justify-content: space-evenly;
  }

  .content-wrapper h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
  }
  
  .logo {
    margin-top: 5%;
    font-size: 4em;
  }

  .content-wrapper span {
    font-size: 4vw;
  }
}


@media screen and (min-width: 2100px) {
  .content-wrapper span {
    font-size: 4em;
  }
}
